#!/bin/sh

name=<%= configuration["name"] %>
command=/var/lib/<%= configuration["name"] %>/bin/<%= configuration["name"] %>

source /var/lib/<%= configuration["name"] %>/bin/environment && ${command} <%= configuration["process"]["call"] %> > /var/log/<%= configuration["name"] %>.log 2>&1
